*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.title{
    font-size: 35px;
    font-weight: 100;
}
nav{
    display: flex;
    gap: 20px;
}
.icon{
    width: 20px;
}
h1{
    font-size: 180px;
    font-family: sans-serif;
    font-weight: 400;
}
.sub-title{
    font-size: 20px ;
    font-family: sans-serif;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
main{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}
img{
    width: 300px;
    max-height: 500px;
}
button{
    padding: 5px;
    width: 50%;
    transform: translateX(50%);
    border-radius: 5px;
    border: none;
}

#products{
    width: 80%;
    /* background-color: aquamarine; */
    background: linear-gradient(to top, rgb(35, 85, 194, 0.4),rgba(6, 244, 189, 0.7));
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding: 50px;
}
.information{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}